<form action='/listings' method=post>
    <input type=text name=name placeholder=name>
    <input type=text name=description placeholder=description>
    <input type=number name=ppn placeholer=ppn>
    <input type=submit value="Create Listing">
</form>