<h1> Makers BnB </h1>
<% if @user %>
    <div>
    Signed in as: <%= @user.username %>
    </div>
    <div>
        <form action=/session method=post>
            <input type=hidden name=_method value=DELETE>
            <input type=submit value="Log Out">
        </form>
    </div>
<% else %>
    <div>
        <form action=users/new method=get>
            <input type=submit value="Sign Up">
        </form>
        <form action=session/new method=get>
            <input type=submit value="Log In">
        </form>
    </div>
<% end %>