<% @available_dates.each do |date| %>
    </tr>
        <td> <%= date.date %> </td>
        <td>
            <form>
                <input type=submit value="Send Request">
            </form>
        </td>
    </tr>
<% end %>