<% @available_dates.each do |booking| %>
    </tr>
        <td> <%= booking.date %> </td>
        <td>
            <form action=/request/<%= booking.id %> method=post>
                <input type=submit value="Send Request">
            </form>
        </td>
    </tr>
<% end %>